body{
    width: 100%;
    height: 100%;
    margin: auto;
}

.section{ 
    background-color: black;
    height: 650px;
    margin: auto;

}

.container{
    width: 80%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    display: flex;
    background-color: black;
}

.header-logo{
    width: 15%;
}

.header div{
    margin-top: 1.5em;
}

.header-menu{
    display: flex;
}

.hamburger-menu{
    display: none;
}




.header-menu ul{
    width: 800px;
    display: flex;
    color:white;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 0;
    padding-left: 25px;
    list-style: none;  
    font-size: smaller; 
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

.header-menu li{
    padding: 20px
}

.header-menu span{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    margin-left: 10px;
    color: white;
    padding: 10px;
    width: 10em;
    border-radius: 25px;
}

#header-button{
    margin-left: 5px;
    padding-left: 4em;
    padding-top: 1em;
    font-size: smaller; 
    font-weight: 400;
    width: 100px;
    word-spacing: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-one{
    background-color: white;
    border: 5px;
    border-radius: 25px;
    border-bottom: 25px;
    margin-top: 3em;
    max-height: fit-content;
    position: absolute;
    width: 80%;
    

}

.hero-one-content{
    display: grid;
    grid-template-columns: 50% 50%;
}

.hero-one-left{
    width: 50%;
    margin-top: 6em;

}

.hero-one-right{
    width: 50%;
    margin-top:5em;

}


.hero-one-left-content{
    width: 500px;
    margin-left: 3em;
    text-align: left;

}

.hero-one-left-content h1{
    font-size: 45px;
    font-stretch: extra-expanded;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-one-left-content h3{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -1em;
    color: #8D8D8D;

}


.hero-one-left-content img{
    width:30em;
    margin-top: -3em;
}

.hero-one-content p{
    height: 100px;
    line-height: 2em;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-one-left-content button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    background-color: #F46632;
    color: white;
    font-weight: bold;
    width:27em;
    height: 4em;
    border: none;
    margin-top: 5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero-one-right-content{
    width: 24em;
}

.section-second-layer{
    margin:0; 
    z-index: -1;
    position: absolute;
    width: 100%;
    background-color: #FAFAFA;
    height: 1000px;
}

.body-one-top{
    margin:0 ;
    padding-top: 13em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.body-one-abs{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}


.body-one-top :nth-child(1){
    width: 25em;
    padding-left: 20px;
}

.body-one-top :nth-child(2){
    padding-left: 50px;
    margin-top:73px ;
}
.body-one-top :nth-child(2) img{
    width: 15em;
    position: absolute;

}
.body-one-top :nth-child(2) p{
    z-index: 1;
    font-weight: bold;
    padding-left: 124px;
    font-stretch: wider;
    padding-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 10em;
    font-size: 25px;
}

.body-one-top-about-and-image{
    display: flex;
    flex-direction: column;
}

.body-one-top :nth-child(3){
    padding-left: 220px;
    padding-top: 150px;
    width:20px;
}

.body-one-bottom{
    background-color: white;
    border: 5px;
    border-radius: 25px;
    border-bottom: 25px;
    height: 350px;
    width: 100%;
    z-index: -1;
    margin-top: 100px;
}

.body-one-bottom p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2em;
    width: 900px;
    font-weight: lighter;
    padding-left: 3em;
    padding-top: 160px;
}

.body-two-card{
    background-color: white;
    border: 5px;
    border-radius: 25px;
    border-bottom: 25px;
    height: 500px;
    margin-top: 740px;

}

.body-two-card-title{
    display: flex;
    flex-direction: column;
    margin: 0;

}

.body-two-card-title-image{
    margin-top: 40px;
    width: 400px;
    margin-left: 22em;
    position: absolute;
}

.body-two-card-title-text{
    margin-top: 65px;
    z-index: 1;
    margin-left: 19em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

.body-two-card-horizontal-content{
    margin-top: 50px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}

.body-two-card-horizontal-content-mobile{
    display: none;
}

.body-two-card-horizontal-content-1{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 40px;
    width: 300px;
    margin-left: 150px;

}

.body-two-card-horizontal-content-1-item-1{
    text-align: center;
    margin-top: 10px;
}

.body-two-card-horizontal-content-2{
    border: 1px solid black;
    height: 40px;
    width: 210px;
    margin:0
}

.body-two-card-horizontal-content-2-item-1{
    text-align: center;
    margin-top: 10px;
}

.body-two-card-horizontal-content-3{
    background-color: black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 40px;
    width: 300px;
    margin-left: 0px;
    margin-right: 200px;

}

.body-two-card-horizontal-content-3-item-1{
    text-align: center;
    margin-top: 10px;
    color: white;
}

.body-two-card-main-content{
    margin-top: 60px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.body-two-card-main-content-image{
    width: 300px;
    margin-left: 50px;
}
.body-two-card-main-content-image img{
    width: 270px;
    padding-top: 20px;
    padding-left: 35px;
}



.body-two-card-main-content-text{
    width: 750px;
}

.body-two-card-main-content-text p{

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: large;
font-weight: lighter;
line-height: 32px;
width: 610px;
}

@media only screen and (max-device-width : 599px) and (orientation : portrait), only screen and (max-device-width : 1200px){ 
    body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .section{ 
        background-color: black;
        height: 1250px;
        width: 1200px;
        margin: 0 auto;
    
    }

    .hero-one{
        background-color: white;
        border: 5px;
        border-radius: 25px;
        margin-top: 3em;
        max-height: fit-content;
        position: absolute;
        width: 980px;
        margin-left: -1em;
        
    
    }
    .hero-one-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
        
    }

    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }

    .body-one-top :nth-child(3){
        padding-left: 150px;
        padding-top: 150px;
        width:20px;
    }

    .header-logo{
        width: 15%;
        margin-top: 5em;
        margin-left: 400px;
    }



    .hamburger-menu{
        display: none;
    }

    .body-two-card-horizontal-content-mobile{
        display: none;
    }
}

@media only screen and (max-device-width : 152px) {

.section{ 
    background-color: black;
    height: 675px;
    width: 600px;
    margin: 0 auto;

}

.header-menu{
    display: none;
}

.hamburger-menu{
    display: block;
    color: white;

}

#header-button{
    align-self: center;
    padding-top: 1em;
    font-size: smaller; 
    font-weight: 400;
    width: 100px;
    word-spacing: 2em;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-one-top{
    margin:0;
    padding-top: 13em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.body-one-abs{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.body-one-abs-image{
    display: none;
}

.body-one-top-about-and-image{
    display: flex;
    flex-direction: column;
}

.hero-one{
    background-color: white;
    border: 5px;
    border-radius: 25px;
    margin-top: 3em;
    height: 1150px;
    position: absolute;
    width: 500px;
    margin-left: -1em;
    

}
.hero-one-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    
}

.hero-one-left-content h1{
    font-size: 30px;
    font-stretch: extra-expanded;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-one-content p{
    height: 100px;
    line-height: 2em;
    font-size: 20px;
    width: 440px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-one-left-content img{
    width:20em;
    margin-top: -3em;
}

.hero-one-right-content{
    width: 18em;
}

.section-second-layer{
    margin:0; 
    z-index: -1;
    position: absolute;
    width: 600px;
    background-color: #FAFAFA;
    height: 1000px;
}

.body-one-top{
    margin:0 ;
    padding-top: 40em;
    display: flex;
    flex-direction: row;
}

.body-two-card{
    background-color: white;
    border: 5px;
    border-radius: 25px;
    border-bottom: 25px;
    height: 500px;
    margin-top: 1200px;

}
.body-one-top-about-and-image{
    width: 100px;
}
.body-one-top-about-social{
    margin-left: 10em;
}

.body-one-bottom p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2em;
    width: 500px;
    font-weight: lighter;
    padding-left: 1em;
    padding-top: 170px;
}
.body-two-card-main-content-image{
    display: none;
}

.body-two-card-main-content-text{
    line-height: 2em;
    width: 400px;
    padding-left: 1em;
}

.body-two-card-title-image{
    margin-top: 40px;
    width: 400px;
    margin-left: 7em;
    position: absolute;
}

.body-two-card-title-text{
    width: 200px;
    margin-top: 65px;
    z-index: 1;
    margin-left: 9.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}

.body-two-card-horizontal-content-mobile{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: space-around;
}
.body-two-card-horizontal-content{
    display: none;
}

.body-two-card-horizontal-content-1{
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 40px;
    width: 200px;
    margin-left: 1px;

}
.body-two-card-horizontal-content-2{
    border: 1px solid black;
    height: 40px;
    width: 200px;
    margin-left:1px;
}

.body-two-card-horizontal-content-3{
    background-color: black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 40px;
    width: 200px;
    margin-left: 1px;

}
.body-two-card-main-content-text{
    width: 350px;
}

.body-two-card-main-content-text p{
    width: 350px;
}
}

